# Dependencies
node_modules

# Nuxt
.nuxt
.output
dist

# Environment variables
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# Build
*.local

agents
tasks
node_modules
.nuxt
.output
.DS_Store
